<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">App Empresarial</span>
  </div>
</nav>
<router-outlet></router-outlet>
