<div class="container">
  <div class="card my-5">

    <div class="card-body ">
      <div class="card-title card__title">
        Datos del empleados
      </div>
      <form [formGroup]="nuevoForm" (ngSubmit)="postForm(nuevoForm.value)">
      <div class="row">

        <div class="col-md-6">
          <div class="mb-3">
            <label for="brm" class="form-label">BRM (Buscar):</label>
            <input type="text" class="form-control" id="brm" formControlName="brm" >
          </div>

        </div>
        <div class="col-md-6">
          <div class="mb-3">
          <label for="puesto" class="form-label">Puesto:</label>

          <select class="form-select" aria-label="Default select example" id="puesto" formControlName="puesto">
            <option selected>Selecciona un puesto..</option>
            <option value="Desarrollador FrontEnd Sr.">Desarrollador FrontEnd Sr.</option>
            <option value="Desarrollador FrontEnd Jr">Desarrollador FrontEnd Jr.</option>
            <option value="Desarrollador BackEnd Jr.">Desarrollador BackEnd Jr.</option>

          </select>
        </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
          <label for="foto" class="form-label">Foto:</label>
          <input type="file" class="form-control" id="foto" formControlName="foto" (change)="onChangeFoto($event)">
        </div>
      </div>
      <div class="col-md-6 mt-md-2">
        <div class="mt-md-4 d-flex">
          <button type="submit" class="btn btn-primary w-100">Agregar</button>
        </div>
      </div>


    </div>
    </form>
    </div>
  </div>

  <h1 class="table__title text-center">Empleados</h1>


      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">BRM</th>
            <th scope="col">Nombre</th>
            <th scope="col">Foto del empleado</th>
            <th scope="col">Puesto</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of empleados; let idx = index">
            <td>{{e.brm}}</td>
            <td>{{e.nombre}}</td>
            <th><img src="{{'data:image/jpg;base64,'+e.foto}}" class="row__image" alt="Imagen_empleado"></th>
            <td>{{e.puesto}}</td>
            <td><div class="d-flex justify-content-around">
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar"(click)="selectEmpleado(e.id,idx)">Borrar</button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editar" class="btn btn-primary" (click)="selectEditar(e.id)">Editar</button>
            </div></td>
          </tr>

        </tbody>


      </table>
      <!-- Modal Eliminar -->
      <div class="modal fade" id="eliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="eliminarLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="eliminarLabel">Confirmación</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Esás seguro que deseas eliminar al empleado?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminarEmpleado()">Aceptar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Editar -->
      <div class="modal fade" id="editar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editarLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editarLabel">Editar empleado</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editarForm" (ngSubmit)="putForm()">
              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label for="brm" class="form-label">BRM:</label>
                    <input type="text" class="form-control" id="brm" formControlName="brm">
                  </div>
                </div>
                <div class="col-12">
                  <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" formControlName="nombre">
                  </div>
                </div>
                <div class="col-12">
                  <div class="mb-3">
                    <label for="puesto" class="form-label">Puesto:</label>
                    <select class="form-select" aria-label="Default select example" id="puesto" formControlName="puesto">
                      <option selected>Selecciona un puesto..</option>
                      <option value="Desarrollador FrontEnd Sr.">Desarrollador FrontEnd Sr.</option>
                      <option value="Desarrollador FrontEnd Jr">Desarrollador FrontEnd Jr.</option>
                      <option value="Desarrollador BackEnd Jr.">Desarrollador BackEnd Jr.</option>

                    </select>
                  </div>
                </div>
                <div class="col-md-6">
          <div class="mb-3">
          <label for="foto" class="form-label">Foto:</label>
          <input type="file" class="form-control" id="foto" formControlName="foto" (change)="onChangeFotoEditar($event)">
        </div>
        </div>



              </div>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="putForm()">Guardar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>

</div>
